<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930712252135-nmt8eeir5hgpqgg0b81ktsii23jne31j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930712252135-nmt8eeir5hgpqgg0b81ktsii23jne31j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930712252135-3fr630vqv9s2d5us6mqvqd27pi0bd589.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkRRjgVy-Vyd8mRseoPy-gvE4E4MqRuzg</string>
	<key>GCM_SENDER_ID</key>
	<string>930712252135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mybooth</string>
	<key>PROJECT_ID</key>
	<string>boothflutter-50442</string>
	<key>STORAGE_BUCKET</key>
	<string>boothflutter-50442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930712252135:ios:444b6b16f60d70c1e03c42</string>
</dict>
</plist>